body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background: hsl(36, 100%, 99%);
  font-weight: 400;
  color: hsl(236, 13%, 42%);
}

h1 {
  font-weight: 800;
  font-size: 3em;
  color: hsl(240, 100%, 5%);
  margin: 20px 0;
}

.container {
  width: 335px;
  margin: 0 auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.menu,
.logo {
  cursor: pointer;
}

.menu-desktop {
  display: none;
}

.main {
  margin-bottom: 60px;
}

.main-illustration {
  width: 100%;
  height: 300px;
  background: url(image/main-img-mobile.jpg) center / cover no-repeat;
}
.main-content p {
  line-height: 1.8em;
  margin-bottom: 25px;
}

.main-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 50px;
  background: hsl(5, 85%, 63%);
  font-weight: 700;
  text-transform: uppercase;
}

.main-link:hover {
  transition: 0.3s;
  background: hsl(240, 100%, 5%);
}

.main-link a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
}

.aside {
  padding: 10px 20px;
  background: hsl(240, 100%, 5%);
  margin-bottom: 60px;
}

.aside-article a {
  text-decoration: none;
}

.aside h2 {
  color: hsl(35, 77%, 62%);
}

.aside h3 {
  color: hsl(36, 100%, 99%);
}

.aside h3:hover {
  transition: 0.3s;
  color: hsl(35, 77%, 62%);
}

.aside p {
  color: hsl(236, 13%, 42%);
}

.break {
  width: 100%;
  height: 1px;
  background: hsl(236, 13%, 42%);
}

.ranking-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.ranking-item img {
  margin-right: 25px;
}

.ranking-item .content h2 {
  color: hsl(233, 8%, 79%);
  font-size: 2em;
  margin-bottom: 10px;
}

.ranking-item .content h3 {
  color: hsl(240, 100%, 5%);
  margin: 20px 0;
}

.ranking-item .content h3:hover {
  transition: 0.3s;
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 735px) {
  .container {
    width: 686px;
    margin: 0 auto;
  }

  .main-illustration {
    width: 100%;
    height: 300px;
    background: url(image/main-img-desktop.jpg) center / no-repeat contain;
  }

  .menu-mobile {
    display: none;
  }

  .menu-desktop {
    display: inline-block;
  }

  .menu-desktop a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
  }

  .menu-desktop a:hover {
    transition: 0.3s;
    color: hsl(35, 77%, 62%);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 77%;
  }

  .contain {
    display: flex;
    width: 100%;
  }

  .main {
    width: 65%;
    margin-right: 20px;
  }

  .main-illustration {
    width: 100%;
    height: 300px;
    background: url(image/main-img-desktop.jpg) center / no-repeat contain;
  }

  .article {
    display: flex;
    justify-content: space-between;
  }

  .article h1 {
    width: 45%;
  }

  .article .main-content {
    width: 47%;
  }

  .aside {
    width: 30%;
  }

  .ranking {
    display: flex;
    justify-content: space-between;
  }

  .ranking .ranking-item *,
  .ranking .ranking-item .content * {
    margin: 0;
  }

  .ranking-item {
    width: 34%;
  }

  .ranking .ranking-item img {
    margin-right: 10px;
  }

  .ranking .ranking-item .content h3 {
    margin: 4px 0;
  }

  .ranking-item .content {
    width: 60%;
  }
}
